[submodule "globalfoundries-pdk-libs-gf180mcu_fd_io"]
	path = globalfoundries-pdk-libs-gf180mcu_fd_io
	url = https://github.com/efabless/globalfoundries-pdk-libs-gf180mcu_fd_io.git
	shallow = true
[submodule "openfasoc-tapeouts"]
	path = openfasoc-tapeouts
	url = https://github.com/idea-fasoc/openfasoc-tapeouts.git
	shallow = true
[submodule "gf180mcu_fd_io"]
	path = gf180mcu_fd_io
	url = https://github.com/d-m-bailey/gf180mcu_fd_io.git
